/* COLORS */

:root {
	--mood-1-color: hsl(0, 80%, 50%);
	--mood-2-color: hsl(30, 80%, 50%);
	--mood-3-color: hsl(55, 80%, 50%);
	--mood-4-color: hsl(85, 80%, 50%);
	--mood-5-color: hsl(120, 80%, 50%);
	--bg-gradient: linear-gradient(hsl(197, 71%, 85%), hsl(197, 71%, 95%));
	--outline-color: #555;
	--secondary-bg-color: #fff;
	--font-color: #333;
	--btn-color: hsl(330, 100%, 71%);
	--inverted-font-color: #fff;
	--error-color: red;
	--secondary-font-color: #666;
}

/* GLOBAL STYLES */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family:
		'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
		sans-serif;
	line-height: 1.5;
	background-image: var(--bg-gradient);
	background-attachment: fixed;
	background-size: 100% 100vh;
	color: var(--font-color);
	min-height: 100vh;
}

/* HEADINGS */

h1,
h2,
h3 {
	line-height: 1.2;
}

.header {
	margin-bottom: 1rem;
}

/* VARIOUS STANDARD TAGS */

a {
	color: inherit;
	text-underline-offset: 2px;
	text-decoration-color: var(--outline-color);
}

p {
	margin-block: 1rem;
}

textarea {
	resize: vertical;
}

img {
	display: block;
	max-width: 100%;
}

/* MOOD COLORS */

.mood[data-value='1'] {
	--color: var(--mood-1-color);
}

.mood[data-value='2'] {
	--color: var(--mood-2-color);
}

.mood[data-value='3'] {
	--color: var(--mood-3-color);
}

.mood[data-value='4'] {
	--color: var(--mood-4-color);
}

.mood[data-value='5'] {
	--color: var(--mood-5-color);
}

/* FORM ELEMENTS */

input,
button,
textarea,
select {
	color: inherit;
	font: inherit;
	border: none;
	background: none;
	outline: none;
}

:is(input, button, textarea, select, a):focus-visible,
input[type='radio']:checked {
	outline: 2px solid var(--outline-color);
	outline-offset: 2px;
}

.input-group {
	margin-bottom: 1rem;

	label {
		display: block;
	}

	input,
	textarea,
	select {
		background-color: var(--secondary-bg-color);
		padding: 0.25rem 0.4rem;
		border-radius: 0.25rem;
		width: 100%;
	}
}

/* BUTTONS */

.button {
	background-color: var(--btn-color);
	color: var(--inverted-font-color);
	padding: 0.25rem 0.8rem;
	border-radius: 0.25rem;
	cursor: pointer;
}

/* UTILITIES */

.no-bullets {
	list-style: none;
}

.error {
	color: var(--error-color);
}
